@mixin colors {
  --ddjs-color-mono-100: hsl(0, 0%, 100%);
  --ddjs-color-mono-78: hsl(0, 0%, 78%);
  --ddjs-color-mono-35: hsl(0, 0%, 35%);
  --ddjs-color-mono-31: hsl(0,0%,31%);
  --ddjs-color-mono-0: hsl(0, 0%, 0%);
}