<!doctype html>
<html lang="de" ng-app="dresdenjsApp">
<head>
    <base href="/">
    <title ng-bind="site.title"></title>
    <meta charset="utf-8">
    <meta name="keywords" content="{{site.keywords}}">
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">

    <!-- build:css(app) assets/styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) assets/styles/main.css -->
    <link rel="stylesheet" href="assets/styles/skeleton.css">
    <link rel="stylesheet" href="assets/styles/base.css">
    <link rel="stylesheet" href="assets/styles/main.css">
    <link rel="stylesheet" href="assets/styles/responsive.css">
    <!-- endbuild -->

    <link ng-if="site.favicon" rel="shortcut icon" href="{{site.favicon}}" type="image/x-icon">
    <link ng-if="site.touch_icon" rel="apple-touch-icon" href="{{site.touch_icon}}">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-cloak>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div id="wrapper" ui-view></div>

<!-- External resources -->
<script src="//maps.googleapis.com/maps/api/js"></script>
<!-- <script src="//slackin-dresdenjs.herokuapp.com/slackin.js"></script> -->

<!-- Google Analytics: change UA-XXXXX-X to be your sites ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{site.google_analytics_key}}');
    ga('send', 'pageview');
</script>

<!-- build:js({.tmp,app}) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<script src="bower_components/angular-mailchimp-subscribe/mailchimp.js"></script>
<script src="bower_components/showdown/src/showdown.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/vendor_additional.js -->
<!-- private extensions -->
<script src="scripts/extensions/classname.showdown.js"></script>
<script src="bower_components/showdown/src/extensions/table.js"></script>
<script src="bower_components/showdown/src/extensions/github.js"></script>
<!-- endprivate -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.modules.js"></script>
<script src="scripts/app.config.js"></script>
<script src="scripts/app.route.js"></script>
<script src="scripts/app.mailchimp.config.js"></script>
<script src="scripts/app.markdown.config.js"></script>
<script src="scripts/app.icons.js"></script>
<script src="scripts/app.theme.js"></script>

<script src="scripts/controllers/main.controller.js"></script>

<script src="scripts/directives/markdown.directive.js"></script>
<script src="scripts/directives/centerGoogleMaps.directive.js"></script>
<script src="scripts/directives/scrollUpdateTabs.directive.js"></script>
<script src="scripts/directives/setStyleBackgroundColor.directive.js"></script>
<script src="scripts/directives/setStyleColor.directive.js"></script>
<!-- endbuild -->
</body>
</html>
