<!doctype html>
<html lang="de" ng-app="dresdenjsApp" ng-controller="MainCtrl">
<head>
    <meta charset="utf-8">
    <title>{{site.title}}</title>
    <meta name="keywords" content="{{site.keywords}}">
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/skeleton.css -->
    <link rel="stylesheet" href="styles/skeleton.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/base.css -->
    <link rel="stylesheet" href="styles/base.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/responsive.css -->
    <link rel="stylesheet" href="styles/responsive.css">
    <!-- endbuild -->
    <link ng-if="site.favicon" rel="shortcut icon" href="{{site.favicon}}" type="image/x-icon">
    <link ng-if="site.touch_icon" rel="apple-touch-icon" href="{{site.touch_icon}}">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-cloak>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div id="wrapper">
    <header id="header">
        <md-tabs md-no-disconnect md-center-tabs scroll-update-tabs>
            <md-tab ng-repeat="(name, tab) in tabs" label="{{tab.title}}"
                    ng-click="scrollTo(name, tab.background)"></md-tab>
        </md-tabs>
        <nav class="social">
            <ul>
                <li class="s-github"><a href="https://github.com/dresdenjs/dresdenjs.io" target="_blank"><md-icon md-svg-icon="social:github-alt"></md-icon></a></li>
                <li class="s-facebook"><a href="https://www.facebook.com/dresdenjs.io" target="_blank"><md-icon md-svg-icon="social:facebook"></md-icon></a></li>
                <li class="s-twitter"><a href="https://twitter.com/dresdenjs" target="_blank"><md-icon md-svg-icon="social:twitter"></md-icon></a></li>
            </ul>
        </nav>
    </header>

    <section ng-repeat="(name, view) in views"
             class="p-{{name}}" ng-class="{linked: view.title}"
             set-style-color="{{colors[view.color]}}" set-style-background-color="{{colors[view.background]}}">
        <div class="subtlecircle sectiondivider faicon">
            <span class="fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-calendar-o fa-stack-1x"></i>
            </span>
            <h5 class="icon-title">{{view.title}}</h5>
        </div>
        <div ng-if="view.markdown !== false" ui-view="{{name}}" class="container" layout="column" flex layout-align="{{view.alignment}}" btf-markdown></div>
        <div ng-if="view.markdown === false" ui-view="{{name}}" class="container plain" layout="column" flex layout-align="{{view.alignment}}"></div>
    </section>

    <footer id="footer">
        <div class="container">
            <p set-style-color="{{colors['white']}}">
                Eine Idee von Achim Sperling und Christian Ulbrich — betreut von der
                <a href="http://devid.net" target="_blank">DeviD GbR</a> &amp;
                <a href="http://zalari.de" target="_blank">Zalari UG</a>.
            </p>
        </div>
    </footer>
</div>

<!-- Google Maps -->
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', '{{site.google_analytics_key}}');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/showdown/src/showdown.js"></script>
<script src="bower_components/angular-markdown-directive/markdown.js"></script>
<script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
<script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.modules.js"></script>
<script src="scripts/app.config.js"></script>
<script src="scripts/app.route.js"></script>
<script src="scripts/app.theme.js"></script>
<script src="scripts/app.controller.js"></script>

<script src="scripts/directives/scrollUpdateTabs.directive.js"></script>
<script src="scripts/directives/setStyleBackgroundColor.directive.js"></script>
<script src="scripts/directives/setStyleColor.directive.js"></script>
<!-- endbuild -->
</body>
</html>
