<!doctype html>
<html lang="de" ng-app="dresdenjsApp" ng-controller="MainCtrl">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/base.css -->
    <link rel="stylesheet" href="styles/base.css">
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link ng-if="site.favicon" rel="shortcut icon" href="{{ site.favicon }}" type="image/x-icon">
    <link ng-if="site.touch_icon" rel="apple-touch-icon" href="{{ site.touch_icon }}">

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-cloak>
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div id="wrapper">
    <header>
        <md-tabs md-center-tabs md-no-disconnect>
            <md-tab ng-repeat="(name, view) in views" label="{{view.title}}"
                    md-on-select="scrollTo(name, view.background)"></md-tab>
        </md-tabs>
    </header>

    <section ng-repeat="(name, view) in views"
             ui-view="{{name}}"
             btf-markdown set-style-color="{{colors[view.color]}}" set-style-background="{{colors[view.background]}}"
             layout="column" flex layout-align="center center"></section>

    <footer>

    </footer>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/showdown/src/showdown.js"></script>
<script src="bower_components/angular-markdown-directive/markdown.js"></script>
<script src="bower_components/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.modules.js"></script>
<script src="scripts/app.config.js"></script>
<script src="scripts/app.route.js"></script>
<script src="scripts/app.theme.js"></script>
<script src="scripts/app.controller.js"></script>

<script src="scripts/directives/scrollUpdateTabs.directive.js"></script>
<script src="scripts/directives/setStyleBackground.directive.js"></script>
<script src="scripts/directives/setStyleColor.directive.js"></script>
<!-- endbuild -->
</body>
</html>
