---
import DefaultLayout from '@/layouts/default.layout.astro';
import Nav from '@/components/nav.component.astro';

const meetups = await Astro.glob('./events/*-meetup.md');
---

<DefaultLayout lang="de" title="Veranstaltungen">
  <Nav slot="header" />

  Search

  <ul>
    {
      meetups.map(({ frontmatter, Content }) => (
        <li>
          <h2>{frontmatter.title}</h2>
          <Content />
        </li>
      ))
    }
  </ul>
</DefaultLayout>
