---
import InfoIcon from './icons/info.icon.astro';
import DdjsLogo from './icons/ddjs-logo.icon.astro';
import MeetupLogo from './icons/meetup-logo.icon.astro';
import SlackLogo from './icons/slack-logo.icon.astro';
---

<style lang="scss">
  @use '../styles/utils';

  nav {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    padding: utils.size(2);
    height: var(--ddjs-header-height);

    align-items: flex-start;
    justify-content: space-between;

    background: var(--ddjs-color-white);

    > a {
      margin-top: 3px;
    }
  }

  div {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 8px;
    width: 50%;

    &.left {
      justify-content: start;
    }

    &.right {
      justify-content: end;
    }

    a {
      display: inline-flex;
      color: var(--ddjs-color-grey-medium);
    }
  }
</style>

<nav>
  <div class="left">
    <slot name="left">
      <a href="https://www.meetup.com/dresdenjs-io-javascript-user-group/" target="_blank"><MeetupLogo size={24} /></a>
      <a href="https://dresdenjs.slack.com/" target="_blank"><SlackLogo size={24} /></a>
    </slot>
  </div>

  <a href="/">
    <DdjsLogo size={29} />
  </a>

  <div class="right">
    <slot name="right">
      <a href="/imprint"><InfoIcon size={24} /></a>
    </slot>
  </div>
</nav>
