---
import SearchIcon from './icons/search.icon.astro';
---

<style lang="scss">
  @use '../styles/utils';

  label {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: calc(100% - #{utils.size(2)});

    border-radius: 18px; // (line-height + vertical padding) / 2
    box-shadow: var(--ddjs-shadow-large-passive);
    transition: box-shadow var(--ddjs-fx-duration) var(--ddjs-fx-easing);

    background: var(--ddjs-color-search-bar-background);
    color: var(--ddjs-color-search-bar-color);

    &:focus-within {
      box-shadow: var(--ddjs-shadow-large-active);
    }
  }

  input[type='search'] {
    all: unset;
    box-sizing: border-box;

    display: inline-block;
    flex: 1 0 auto;
    padding: utils.size(1) utils.size(2) utils.size(1) 0;
    height: var(--ddjs-search-height);
    width: auto;

    font-size: 16px;
    line-height: 20px;

    &:focus {
      outline: none;
      color: var(--ddjs-color-mono-31);
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }
  }

  .icon {
    display: inline-flex;
    align-items: center;
    margin: 0 utils.size(0.75) 0 utils.size(1.5);
    transition: color var(--ddjs-fx-duration) var(--ddjs-fx-easing);

    input[type='search']:focus ~ & {
      color: var(--ddjs-color-primary-typo);
    }
  }
</style>

<label for="search">
  <input id="search" type="search" />
  <span class="icon">
    <SearchIcon size={20} />
  </span>
</label>
