---
import LightIcon from './icons/light.icon.astro';
import DarkIcon from './icons/dark.icon.astro';
---

<style lang="scss">
  .theme-switch {
    &.light,
    &.dark {
      cursor: pointer;
      display: none;

      &.show {
        display: block;
      }
    }
  }
</style>

<div theme-switch>
  <span class="theme-switch light">
    <LightIcon />
  </span>
  <span class="theme-switch dark">
    <DarkIcon />
  </span>
</div>

<script>
  const themeSwitch = document.querySelector('div[theme-switch]');
  const lightIcon = document.querySelector('.theme-switch.light');
  const darkIcon = document.querySelector('.theme-switch.dark');
  const root = document.documentElement;
  let selectedTheme = root!.getAttribute('theme');

  // set switch at first load
  themeSwitch!.querySelector(`.${selectedTheme}`)!.classList.add('show');

  const changeTheme = () => {
    selectedTheme = root!.getAttribute('theme');
    lightIcon!.classList.toggle('show');
    darkIcon!.classList.toggle('show');

    if (selectedTheme === 'dark') {
      root!.setAttribute('theme', 'light');
      return;
    }

    root!.setAttribute('theme', 'dark');
  };

  themeSwitch!.addEventListener('click', changeTheme);
</script>
