---
import './default.layout.scss';

const { lang = 'en', title } = Astro.props;
---

<style lang="scss">
  @use '../styles/utils';

  header {
    position: fixed;
    inset: 0 0 auto;
    z-index: 2;
  }

  main {
    margin: var(--ddjs-header-height) auto 0;
    padding: utils.size(2);
    max-width: 800px;
  }
</style>

<html lang={lang}>
  <head>
    <base href={import.meta.env.BASE_URL} />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta content="IE=Edge" http-equiv="x-ua-compatible" />

    <title>{title} - DresdenJS</title>
  </head>
  <body>
    <header>
      <slot name="header" />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<script>
  const savedTheme = localStorage.getItem('theme');

  if (savedTheme) {
    document.documentElement.setAttribute('theme', savedTheme);
  }
</script>
