@use '~/@fontsource/source-sans-pro/scss/mixins' as sourceSans with (
  $directory: '~/@fontsource/source-sans-pro/files',
  $weights: (
    400,
    600,
  )
);
@use '../styles/utils';

@use '../styles/themes/base';
@use '../styles/themes/light';
@use '../styles/themes/dark';

@use '../styles/colors';

@include sourceSans.faces();

:root {
  @include colors.colors;

  @include base.theme;
  @include light.theme;

  @media (prefers-color-scheme: dark) {
    @include dark.theme;
  }
}

:root[theme='light'] {
  @include light.theme;
}

:root[theme='dark'] {
  @include dark.theme;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--ddjs-color-3);
  font-family: var(--ddjs-font-default);
}

mark {
  background-color: var(--ddjs-color-primary);
  color: var(--ddjs-color-3);
}
