<form novalidate
      layout-wrap
      layout="row"
      layout-xs="column"
      name="DistributionForm"
      ng-submit="submitDistribution($event, DistributionForm)">

    <md-input-container flex-gt-xs="33">
        <input ng-required="true"
               ng-model="chimp.EMAIL"
               ng-change="resetDistributionResponses()"
               type="email"
               name="email"
               autocomplete="email"
               placeholder="E-Mail"
               aria-label="E-Mail">
        <div role="alert"
             ng-if="DistributionForm.email.$dirty"
             ng-messages="DistributionForm.email.$error">
            <div ng-message="required">Dies ist ein Pflichtfeld.</div>
            <div ng-message="email">Die E-Mail-Adresse ist ungültig.</div>
        </div>
    </md-input-container>
    <md-input-container flex-gt-xs="33">
        <input ng-required="true"
               ng-model="chimp.FNAME"
               type="text"
               name="firstname"
               autocomplete="given-name"
               placeholder="Vorname"
               aria-label="Vorname">
    </md-input-container>
    <md-input-container flex-gt-xs="33">
        <input ng-required="true"
               ng-model="chimp.LNAME"
               type="text"
               name="lastname"
               autocomplete="family-name"
               placeholder="Nachname"
               aria-label="Nachname">
    </md-input-container>
    <div flex-xs="grow">
        <md-button class="md-raised"
                   type="submit"
                   ng-disabled="DistributionForm.$invalid">
            Vormerken
        </md-button>
    </div>
    <div flex="grow"
         role="alert"
         ng-if="DistributionForm.$submitted"
         ng-messages="distributionResponses">
        <div ng-message="sent">Anmeldung wird versendet.</div>
        <div ng-message="success">Vielen Dank fürs Anmelden.</div>
        <div ng-message="error">Die E-Mail-Adresse ist ungültig<span ng-if="errorMessage"> (<span ng-bind-html="errorMessage"></span>)</span>.</div>
    </div>
</form>
